In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from scipy.sparse import csr_matrix
from pandas.api.types import is_numeric_dtype
from sklearn.neighbors import NearestNeighbors
from sklearn.feature_extraction import DictVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

import warnings
warnings.filterwarnings("ignore")

In [9]:
books=pd.read_csv("C:/Users/ROHIT/anaconda3/projects/book.csv", delimiter=';', error_bad_lines=False, encoding='ISO-8859-1', warn_bad_lines=False)

In [18]:
books

                  ,"User.ID","Book.Title","Book.Rating"
0                      1,276726,"Classical Mythology",5
1                             2,276729,"Clara Callan",3
2                     3,276729,"Decision in Normandy",6
3     4,276736,"Flu: The Story of the Great Influenz...
4                   5,276737,"The Mummies of Urumchi",6
...                                                 ...
9833  9996,162121,"American Fried: Adventures of a H...
9834              9997,162121,"Cannibal In Manhattan",9
9835    9998,162121,"How to Flirt: A Practical Guide",7
9836                           9999,162121,"Twilight",8
9837      10000,162129,"Kids Say the Darndest Things",6

[9838 rows x 1 columns]